// json格式
{
    "presets": [
        [
            "env",
            {
                "targets": {
                    // 配置浏览器兼容
                    "browser": [
                        // >市场1%浏览器
                        "> 1%",
                        // 不兼容ie8以下的版本
                        "not ie <= 8",
                        // 兼容到之前的2个版本
                        "last 2 versions"
                    ]
                }
            }
        ],
        "stage-2"
    ]
    // 识别import
    // 识别es6语法
    // 版本不同，启动报错
    // "plugin": [
    //     // "babel-plugin-syntax-dynamic-import",
    //     "transform-runtime",
    //     "babel-plugin-transform-regenerator",
    //     "babel-plugin-transform-es2015-modules-commonjs"
    // ]
}
