// json格式
{
    "presets": [
        [
            "env",
            {
                "targets": {
                    // 配置浏览器兼容
                    "browser": [
                        // >市场1%浏览器
                        "> 1%",
                        // 不兼容ie8以下的版本
                        "not ie <= 8",
                        // 兼容到之前的2个版本
                        "last 2 versions"
                    ]
                }
            }
        ]
    ]
}
